@import url("colors.css";

window#waybar {
	background-color: transparent;
	color: @foreground;

	font-family: "SF Pro Text", "RobotoMono", sans-serif, "Times New Roman";
	font-size: 13px;
	font-weight: 600;
}

#tray,
#custom-shutdown,
#custom-quit,
#custom-lock,
#custom-reboot,
#workspaces,
label.module {
	border-radius: 2rem;
	background-color: @background;
}

#battery,
#bluetooth,
#cpu,
#clock,
#custom-shutdown,
#custom-quit,
#custom-lock,
#custom-reboot,
#disk,
/* #gamemode, */
#workspaces,
#mpris,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
	padding: 0 10px;
	color: #ffffff;
}

/* States */
.critical {
	background-color: @tint-red;
	color: #000000;
}
.warning {
	color: @tint-orange;
}
.normal {}
.optimal {}


/* Battery 󱐋 */
#battery.charging.optimal {
	background-color: @tint-green;
	/* GREEN: #26A65B */
	color: #000000;
}
#battery.critical:not(.charging) {
	background-color: @tint-red;
	/* RED: #f53c3c */
	color: #000000;
}
#battery.charging {
	background-color: @tint-orange;
	color: #000000;
}


/* Bluetooth 󰂯 */
#bluetooth {
	padding: 0 14px;
}

#bluetooth.disabled,
#bluetooth.off {
	color: @tint-red;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable,
#bluetooth.on {}

#bluetooth.connected {
	color: @tint-blue;
}


/* CPU  */
#cpu {}


/* Clock 󰥔  */
#clock {
	padding: 0 15px;
	/* background-color: #44424D; */
	background-color: #3e3e3e;
}


/* Disk  */
#disk {

	/* padding: 0 15px; */
	/* background-color: #44424D; */
}

#disk.critical { }
#disk.warning { }

#disk.normal,
#disk.optimal {}


/* Gamemode 󰸷 */
#gamemode {
	padding: 0 12px;
}

#gamemode.running {
	color: @foreground;
	background-color: @background;
}


/* Power group   */
#hardware{
	border-radius: 2rem;
	background-color: @background;
}

#custom-quit,
#custom-lock,
#custom-reboot {
	font-size: 16px;
	padding: 0px 12px 0 12px;
}

#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
	background-color: @foreground;
	color: @background;
}

#custom-shutdown {
	font-size: 14px;
	color: @tint-red;
	padding: 2px 15px 0 10px;
}

#custom-shutdown:hover {
	background-color: @tint-red;
	color: #000000;
}


/* Workspaces */
#workspaces {
	background-color: @background;
}

#gamemode,
#workspaces button {
	background-color: @background;
	padding: 1px;
	color: #5e5e5e;
	border-radius: .6rem;
	font-size: 14px;
}

#workspaces button:hover {
	background-color: @background;
	/* color: #ffffff; */
}

#workspaces button.empty {}

#workspaces button.visible {}

#workspaces button.active {
	color: @tint-green;
	font-weight: 800;
}

#workspaces button.urgent {
	color: @tint-red;
}


/* Image */
#image {
	background-color: @background;
	padding: 2px 6px;
	border-radius: 2rem;
}


/* mpris */
#mpris {
	padding: 0 12px;
}
#mpris.playing {
	color: @tint-blue;
}
#mpris.paused {
	color: @tint-red;
}
#mpris.stopped { }

#mpris:hover {
	color: #8e8e8e;
}


/* Memory   */
#memory { }


/* Network   */
#network {}
#network:hover { }
#network.disabled {}

#network.disconnected {
	color: #8e8e8e;
}

#network.linked {}
#network.ethernet {}
#network.wifi {}


/* Audio  */
#pulseaudio {}

#pulseaudio.source-muted {}
#pulseaudio.bluetooth {
	color: @tint-blue;
}

#pulseaudio.muted {
	background-color: @tint-red;
	color: #000000;
}


/* Temperature  */
#temperature {}
#temperature.critical {
	color: @tint-red;
}


/* Tray */
#tray {}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @tint-red;
}

