@import url("colors.css");

window#waybar {
	background-color: transparent;
	color: @foreground;

	font-family: "SF Pro Text", "RobotoMono", sans-serif, "Times New Roman";
	font-size: 13px;
	font-weight: 600;
}

#power,
#workspaces,
label.module {
	border-radius: 2rem;
	background-color: @background;
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#battery,
#bluetooth,
#cpu,
#clock,
#disk,
#power,
#workspaces,
#mpris,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode {
	padding: 0 10px;
	color: #ffffff;
}

#window,
#workspaces {
	margin: 0 4px;
}

/* .modules-left>widget:first-child>#workspaces { */
/* 	margin-left: 0; */
/* } */

/* .modules-right>widget:last-child>#workspaces { */
/* 	margin-right: 0; */
/* } */


/* Battery 󱐋 */
#battery.charging {
	color: @tint-orange;
	color: #000000;
}

#battery.charging.optimal {
	background-color: @tint-green;
	/* GREEN: #26A65B */
	color: #000000;
}

#battery.critical:not(.charging) {
	background-color: @tint-red;
	/* RED: #f53c3c */
	color: #000000;
}


/* Bluetooth 󰂯 */
#bluetooth {
	padding: 0 14px;
}

#bluetooth.disabled,
#bluetooth.off {
	color: @tint-red;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable,
#bluetooth.on {}

#bluetooth.connected {
	color: @tint-blue;
}


/* CPU  */
#cpu {}


/* Clock 󰥔  */
#clock {
	padding: 0 15px;
	background-color: #44424D;
}


/* Disk  */
#disk {

	/* padding: 0 15px; */
	/* background-color: #44424D; */
}

#disk.critical {
	background-color: @tint-red;
}

#disk.warning {
	color: @tint-orange;
}

#disk.normal,
#disk.optimal {}


/* Gamemode 󰸷 */
#gamemode {
	padding: 0 12px;
}

#gamemode.running {
	background-color: @foreground;
	color: @background;
}


/* Power group   */
#power {
	padding: 0 20px;
}

.group-power-child {
	padding: 0 14px;
}

#custom-shutdown {
	color: @tint-red;
}

.group-power-child:hover {
	color: @tint-orange;
}

#custom-shutdown:hover {
	background-color: @tint-red;
	color: #000000;
}


/* Workspaces */
#workspaces {
	background-color: @background;
}

#workspaces button {
	background-color: @background;
	padding: 1px;
	color: #5e5e5e;
	border-radius: .6rem;
	font-size: 14px;
}

#workspaces button:hover {
	background-color: @background;
	/* color: #ffffff; */
}

#workspaces button.empty {}

#workspaces button.visible {}

#workspaces button.active {
	color: @tint-green;
	font-weight: 800;
}

#workspaces button.urgent {
	color: @tint-red;
}


/* Image */
#image {
	background-color: @background;
	padding: 2px 4px;
	border-radius: 2rem;
}


/* mpris */
#mpris {
	padding: 0 12px;
}
#mpris.playing {
	color: @tint-blue;
}
#mpris.paused {
	color: @tint-red;
}
#mpris.stopped { }

#mpris:hover {
	color: #8e8e8e;
}












#network {}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {}

#pulseaudio.muted {
	background-color: #90b1b1;
}

#custom-media {}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#tray {}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}
