# :!cp ./.clang-format ~/Developer
# clang-format version 7.0.1-8

BasedOnStyle: LLVM

AlignAfterOpenBracket: Align
# AlignAfterOpenBracket: true

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
# AlignConsecutiveShortCaseStatements: # Don't work :/

AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false

# AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
# AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: true

BraceWrapping:
  # AfterCaseLabel: false
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: true
  # BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false

BreakBeforeBinaryOperators: true

# BreakBeforeBraces: Linux
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakStringLiterals: false

ColumnLimit: 80
DerivePointerAlignment: false
# MaxEmptyLinesToKeep: 3

IncludeBlocks: Regroup
IncludeCategories:
# Standard Libraries
  - Regex:           '<std.*\.h>'
    Priority:        1

# Other "external" libraries
  - Regex:           '<.*\.h>'
    Priority:        2

# Project files
  - Regex:           '".*\.h"'
    Priority:        3

# Internal headers
  - Regex:           '"\..*\/lib\/.*\.h"'
    Priority:        4

IndentCaseLabels: true
IndentPPDirectives: AfterHash #None
IndentWidth: 4
IndentWrappedFunctionNames: false
# InsertNewlineAtEOF: true
# InsertTrailingCommas: true

KeepEmptyLinesAtTheStartOfBlocks: false
# KeepEmptyLinesAtEOF: true

Language: Cpp
PointerAlignment: Right
ReflowComments: true
SortIncludes: true

SpaceAfterCStyleCast: false
# SpaceAfterLogicalNot: false
# SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
# SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
# SpaceBeforeSquareBrackets: false
# SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2

SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
# SpaceInParentheses: false
# SpaceInSquareBrackets: false
# # SpacesInConditionalStatement: false

TabWidth: 4
UseTab: ForIndentation
